/* Hero */
#hero { 
   width: 100%;
    /* background-image: none; 초기화 값 */
    padding-top: 130px;
    /* scroll 내릴 때 메뉴탭 높이가 커짐  */
   }

.hero_wrap { width: 100%; height: auto; background-image: none;}

.hero_img { width: 100%;}

.hero_text_wrap { width: 92.5%; margin: 0 auto; display: flex; justify-content: space-between; background-image: none; }

#project { width: 100%; height: auto; padding: 0 3.57%; margin: 100px 0;  }

.project_list { 
   width: 100%; 
   display: flex; 
   justify-content: space-between; 
   flex-wrap: wrap;
}

.project_item {
    width: calc(33.33333% - 20px);
     margin: 0 10px;
      margin: 0 0 70px;
   }

.project_item img { width: 100%;}